{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <h3 align="center">Search Notes</h3>

    <!-- Search Form -->
    <form method="POST" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="search_query" placeholder="Search notes" aria-label="Search" required>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!-- Display Search Results -->
    {% if notes %}
    <h5 class="mt-4">Search Results:</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td><strong>{{ note.title }}</strong></td>
                <td>{{ note.data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h5 class="mt-4">No notes to display. Please enter a search term.</h5>
    {% endif %}
</div>
{% endblock %}
